/**
 * main
 */
.main {
  display: flex;
}

.main__side {
  flex-basis: 292px;
  flex-shrink: 0;
  padding-top: 1rem;
}

.main__content {
  flex-grow: 1;
  background-color: #f9f9f9;
}

/**
 * side
 */
.side__hr {
  margin: 1.2rem 0;
  border: none;
  height: 1px;
  background-color: #e6e6e6;
}

.side__title {
  color: #666666;
  padding: 0 2rem 1rem;
  font-size: 1.2rem;
}

.menu-list a .fas,
.menu-list a .fab {
  color: #606060;
  font-size: 1.7rem;
}

.menu-list a {
  text-decoration: none;
  color: gray;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.menu-list a:hover {
  background-color: #f8f8f8;
}

.menu-list a span {
  margin-left: 2rem;
  color: #000;
}

/**
* content
*/
.content {
}

.content__body {
  background-color: #f1f1f1;
  padding: 2rem;
}

.head__description {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  margin: 1rem auto 0.5rem;
}

.head__thumb {
  width: 100px;
}

.head__title {
  margin: 1rem auto 1rem 2rem;
}

.head__title h1 {
  color: #000;
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.head__title p {
  font-size: 1.2rem;
}

.head__menu .button + .button {
  margin-left: 0.5rem;
}

.head__menu {
  position: relative;
}

.head__menu-more {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
}
